/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* -------------------
        Common CSS
--------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container {
  width: 85%;
  margin: 0 auto;
}
main {
  padding: 40px 0px 130px 0px;
}
#active-btn {
  color: #fff;
  background-color: #dd0000;
}
/* -----------------------
        Banner CSS styles
------------------------- */
#banner {
  background-color: #161616;
  padding: 33px 80px 0 105px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-radius: 30px;
}
#banner .banner-details .banner-title {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}
#banner .banner-details p {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#banner .banner-details a {
  display: inline-block;
  text-decoration: none;
  background-color: #dd0000;
  color: #fff;
  padding: 16px 16px 16px 25px;
  border-radius: 5px;
}
#banner .banner-details i {
  font-size: 24px;
  margin-left: 10px;
}
#banner .banner-image {
  height: 613px;
}
#banner .banner-image img {
  width: 100%;
  height: 100%;
}
/* -----------------------
        Blog CSS styles
------------------------- */
#Blogs {
  padding-top: 130px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 24px;
}
.blogs-left {
  /* height: 90%; */
  padding: 30px;
  background-color: #161616;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  border-radius: 10px;
}
.blogs-left a {
  color: #161616;
  padding: 17px 0;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogs-right {
  grid-area: 1 / 2 / span 2 / span 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.blog-item {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}
.blog-item .blog-detail {
  padding: 20px;
}
.blog-item .blog-detail a {
  display: inline-block;
  color: #161616;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 4px 16px;
  margin-bottom: 15px;
  border: 1px solid #161616;
  border-radius: 5px;
}
.blog-item .blog-detail h4 {
  color: #161616;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 20px;
}
.blog-item .blog-detail .blog-info span {
  color: rgba(22, 22, 22, 0.7);
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.blog-item .blog-detail .blog-info span i.fa {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  color: 1px solid rgba(22, 22, 22, 0.8);
}
/* -----------------------
        Footer CSS styles
------------------------- */
footer {
  background-color: #161616;
  padding: 130px 0;
}
footer .footer-title {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 50px;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
footer nav {
  margin-top: 50px;
  padding: 0 110px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
footer nav a {
  color: #b9b9b9;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
footer .social-link {
  display: none;
}
/* --------------------
        Media Queries 
----------------------*/
/* Mobile Device */
@media screen and (max-width: 688px) {
  #banner {
    display: block;
    padding: 28px 38px 0 38px;
    border-radius: 10px;
  }
  #banner .banner-details {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 21px;
  }
  #banner .banner-details .banner-title {
    font-size: 22px;
    line-height: 33px;
  }
  #banner .banner-details p {
    width: 80%;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #banner .banner-details a {
    padding: 8px 15px;
  }
  #banner .banner-image {
    /* width: 233px; */
    height: 245px;
    margin: 0 auto;
  }
  #banner .banner-image img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  /* Blog CSS */
  #active-btn {
    padding: 9px 60px;
  }
  #Blogs {
    display: block;
  }
  .blogs-left {
    /* height: 90%; */
    padding: 24px 30px;
    background-color: #fff;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
  }
  .blogs-left a {
    padding: 9px 18px;
    border: 1px solid #e8e8e8;
  }
  .blogs-left a:nth-child(2) {
    padding: 9px 33px;
  }
  .blogs-right {
    grid-template-columns: 1fr;
  }
  /* Footer CSS */
  footer {
    padding: 24px 0;
  }
  footer .footer-title {
    font-size: 22px;
    margin-bottom: 50px;
    line-height: 33px;
    padding-bottom: 24px;
  }
  footer nav {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  footer nav a {
    font-size: 14px;
    line-height: 50px;
  }
  footer .social-link {
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    display: flex;
    justify-content: space-evenly;
  }
  footer .social-link a {
    color: #fff;
  }
  footer .social-link a i {
    font-size: 20px;
  }
}
/* Tab Device */
@media screen and (min-width: 689px) and (max-width: 992px) {
  #banner {
    grid-template-columns: 1fr 1fr;
  }
  #banner .banner-details .banner-title {
    font-size: 30px;
    line-height: 50px;
  }
  #banner .banner-details p {
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #banner .banner-details a {
    padding: 9px 18px;
  }
  #banner .banner-image {
    height: 340px;
  }
  /* Footer CSS */
  footer nav {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  footer nav a {
    line-height: 50px;
  }
  footer nav .active-tab-1 {
    grid-area: 2 / 1 / span 1 / span 2;
    text-align: right;
  }
  footer nav .active-tab-2 {
    grid-area: 2 / 2 / span 3 / span 4;
  }
}
