/* --------------------
        Match CSS styles 
----------------------*/
.match {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 53px 30px;
}
.match-flag {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.match-flag span {
  /* padding: 0 20px; */
  font-size: 16px;
  font-weight: 700;
  color: #161616;
}
.match-title h4 {
  color: #161616;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.match-title p {
  color: #4d4d4d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

/* --------------------
        Media Queries 
----------------------*/
/* ---------
        Mobile Device 
-------==*/
@media screen and (max-width: 688px) {
  #active-btn {
    padding: 9px 15px;
  }
  .blogs-left a {
    padding: 9px 33px;
    border: 1px solid #e8e8e8;
  }

  .blogs-left a:nth-child(3) {
    padding: 9px 60px;
  }
}
